html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 21px;
}

.primary-font-color {
    color: #555555;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.black {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.light {
    font-weight: 300;
}

.thin {
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .page-container {
    position: relative;
    height: 745px;
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.grow {
    flex-grow: 1;
}

.flex.wrap {
    flex-wrap: wrap;
}

.navigation .nav-item {
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
    padding: 15px 25px 15px 25px;
    border: solid;
    border-width: thin;
    border-radius: 2px;
    /* border-color: rgba(255, 255, 255, 0.534); */
    border-color: #04A719;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item i {
    padding-left: 15px;
}

.navigation .nav-item:hover,
.navigation .nav-item:focus {
    background-color: #04A719;
    border-color: #04A719;
    color: #ffffff !important;
}

.banner {
    z-index: -10000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-gradient {
    z-index: -10001;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.banner-gradient.home {
    background-image: linear-gradient(#c7ffde, #c7ffb3);
    /* background-image: url('../images/home-banner.jpg'), linear-gradient(#c7ffde, #c7ffb3); */
}

.banner.home {
    background-image: url('../images/home-banner.jpg');
}

.text-container {
    padding: 50px;
    background-color: #333333;
    color: #fff;
}

.text-container.white {
    background-color: #FFFFFF;
    color: #333333;
}

.partners-logo {
    padding: 20px;
    width: 15%;
}

.partners-logo img {
    width: 100%;
}
